<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Adobe Fonts Extension Configuration</title>
  <meta name="description" content="Configure Typekit ID">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="./spectrum-core.css">
  <link rel="stylesheet" href="./spectrum-light.css">
  <style>
    input:invalid {
      border: 1px solid red;
    }
  </style>
</head>

<body class="spectrum spectrum--light">
  <div class="container">
    <h3>Add Adobe Fonts to your website</h3>
    <p>Use this extension to add a variety of fonts to your website. Learn more about
      <a href="https://helpx.adobe.com/fonts/using/add-fonts-website.html" target="_blank">how to add fonts</a>.</p>

    <p>Enter your Web Project ID here:</p>
    <form class="spectrum-Form">
      <div class="spectrum-Form-item">
        <label class="spectrum-Form-itemLabel spectrum-FieldLabel--left" for="typekitID">Project ID</label>
        <div class="spectrum-Form-itemField">
          <input type="text" id="typekitID" class="spectrum-Textfield" required autofocus>
        </div>
      </div>
    </form>
  </div>

  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>

    var typeKitIdInput = document.getElementById('typekitID');

    window.extensionBridge.register({
      init: function (info) {
        if (info.settings) {
          typeKitIdInput.value = info.settings.typekitID;
        }
      },

      getSettings: function () {
        return {
          typekitID: typeKitIdInput.value
        }
      },

      validate: function () {
        return typeKitIdInput.checkValidity();
      }
    });
  </script>
</body>

</html>
